<h1>Editing Vehicle Category And Payment</h1>

<%= render 'form', vehicle_category_and_payment: @vehicle_category_and_payment %>

<%= link_to 'Show', @vehicle_category_and_payment %> |
<%= link_to 'Back', vehicle_category_and_payments_path %>
