<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Nuevo pago por categoria de vehiculo</h1>
    </div>

  </div><br>
  <br>

  <div class="row">
    <div class="col-md-12">
        <%= render 'form', vehicle_category_and_payment: @vehicle_category_and_payment %>

    </div>
  </div>

  <%= link_to 'Volver', vehicle_category_and_payments_path %>
</div>
