<h1>COTIZADOR DE OPERACION</h1>
<p>Find me in app/views/home/index.html.erb</p>
<%= link_to "Vehículos", vehicles_path %>
<br>
<%= link_to "Categoria vehiculos y paga", vehicle_category_and_payments_path %>
<br>
<%= link_to "Rutas", routes_path %>
