<div class="container">
  <p>Bueno aqui vamos a poner el formulario para cotizar los viajes</p>

  <%= form_tag do %>

    <%= select_tag :vehicle, options_for_select( Vehicle.all.collect { |v| ["#{v.license_plate || NANANA} - #{v.year} - #{v.brand} - #{v.vehicle_type}", v.id]} ), {include_blank: "Selecciona un vehículo..."} %>

    <%= submit_tag 'Calcular', class: 'button' %>
  <% end %>
</div>
